

/* Home Screen */
.home {
    border: solid 1px lightgrey; 
}

/* Landing page Login Modal */
.login-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .login-modal .close-modal:hover {
    opacity: 0.3;
  }

  #loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1d41f4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /*  footer */
.footer-color {
  background-color: rgb(255, 255, 255);
}

.reverse-margin {
  margin-bottom: -10% ;
}


/* Navbar */
.nav-link:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border-bottom: 1px black solid;
  transition: transform .2s ease-in-out;
}
.nav-color {
  color: #EC8107 !important;
}

.nav-color-active {
  color: #E94F01 !important;
}
/* fonts */
.header-main {
  color: #00699e;
}

.header-secondary {
  color:#5a5a5a
}

.header-third {
  color: #014466;
}
.increase-font {
  font-size: 125%;
}

.decrease-font {
  font-size: 75%;
}


/* button */
.button-main {
  background: rgb(235,135,31);
background: linear-gradient(90deg, rgba(235,135,31,1) 0%, rgba(0,105,158,1) 100%);
  border: rgb(235,135,31) !important;
  color: white !important;
}

.button-main:hover{
  background: rgb(224,119,9);
background: linear-gradient(90deg, rgba(224,119,9,1) 0%, rgba(1,66,98,1) 100%);
  border: rgb(224,119,9) !important;
}

.button-radius {
  border-radius: 20px !important;
}


/* border */
.bottom-bord {
  border-bottom: #EC8107 1px solid !important;
}

.top-bord {
  border-top: #EC8107 1px solid !important;
}

.whole-bord {
  border: #EC8107 2px solid !important;
}

/* background */
.modal-back {
  background-color: #EC8107;
  color: white;
}

/* div manipulation */
.inner {
  position: absolute;
  background-color: rgba(0,105,158);
}

.outer {
  transform: rotate(50deg);
  background-color: rgba(235,135,31);
}

