{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-sm navbar-light bg-transparent">
    <a class="navbar-brand nav-color" href="#" style="margin-left: 2%;">Tennis Sense</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-color" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link nav-color-active" href="{{url_for('stroke')}}">Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-color" href="{{url_for('history')}}">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-color" href="{{url_for('gallery')}}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="{{url_for('account')}}">My Account</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="container">
            <a class="btn btn-secondary btn-sm text-uppercase" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt fa-lg"></i>Logout</a>
            </div>
        </li>
    </ul>
    
    </div>
  </nav>
  <!-- end of navbar -->
<!-- results and score -->
<div class="container home shadow rounded p-3 mt-4 mb-4 footer-color" data-aos="fade-up" id='content'>
    <div class="container-fluid">
        <div class="container-fluid text-center">
            <legend class='h1 header-main bottom-bord'>Score</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pr-5 pl-5">
            <div class='container-fluid text-center mt-3 rounded'>
                <h1 class="header-secondary ">{{score}}/100</h1>
            </div>
            <div class="container-fluid text-center p-2">
                <button type="submit" class="btn btn-secondary btn-sm rounded" id="scoring_criteria" data-toggle="modal" data-target="#exampleModal3" >Scoring Criteria</button>
            </div>
        </div>
    </div>

</div>

<div class="container home shadow rounded p-3 mt-4 text-center footer-color" data-aos="fade-up">
    <div class="container-fluid">
        <div class="container-fluid text-center">
            <legend class='h1 header-main bottom-bord'>Statistics</legend>
        </div>
    </div>

    <!-- angle statistics-->
    <div class='row'>
        <div class="container-fluid text-center p-2">
            <button type="submit" class="btn btn-secondary btn-sm rounded" id="angle_skteches" data-toggle="modal" data-target="#exampleModal2" >Angle Diagrams</button>
        </div>
        <div class="container text-center">
            <p class="mb-3 header-secondary">various body angles throughout the serve</p>
            <small class="header-secondary">you can select which joints to compare from the options below</small>
        </div>
        <div class="col-md-6">
            <div class='row border m-3 rounded'>
                <div class='col-md-4 text-center p-2'>
                    <button type="submit" class="btn btn-outline-primary btn-sm" id="Legs" onclick="content_legs();">Knee</button>
                </div>
                <div class='col-md-4 text-center p-2'>
                    <button class="btn btn-outline-primary btn-sm" id="Arms" onclick="content_arms();">Elbow</button>
                </div>
                <div class='col-md-4 text-center p-2'>
                    <button class="btn btn-outline-primary btn-sm" id="Body" onclick="content_body();">Shoulder</button>
                </div>
            </div>
            <legend class='border-bottom h6 header-third'>{{name}}</legend>
            <div class="container" id="content_legs" style="height:300px !important;">
                <canvas id="myChart" ></canvas>
            </div>
            <div class="container" id="content_arms" style="display:none;height:300px !important;">
                <canvas id="myChart2"></canvas>
            </div>
            <div class="container" id="content_body" style="display:none;height:300px !important;">
                <canvas id="myChart3"></canvas>
            </div>
        </div>
        <div class="col-md-6">
            <div class='row border m-3 rounded'>
                <div class='col-md-4 text-center p-2'>
                    <button type="submit" class="btn btn-outline-primary btn-sm" id="Legs_user" onclick="content_legs_user();">Knee</button>
                </div>
                <div class='col-md-4 text-center p-2'>
                    <button class="btn btn-outline-primary btn-sm" id="Arms_user" onclick="content_arms_user();">Elbow</button>
                </div>
                <div class='col-md-4 text-center p-2'>
                    <button class="btn btn-outline-primary btn-sm" id="Body_user" onclick="content_body_user();">Shoulder</button>
                </div>
            </div>
            <legend class='border-bottom h6 header-third'>{{current_user.first}}</legend>
            <div class="container" id="content_legs_user" style="height:300px !important;">
                <canvas id="myChart4"></canvas>
            </div>
            <div class="container" id="content_arms_user" style="display:none;height:300px !important;">
                <canvas id="myChart5"></canvas>
            </div>
            <div class="container" id="content_body_user" style="display:none;height:300px !important;">
                <canvas id="myChart6"></canvas>
            </div>
        </div>
    </div>
    <div class="container mb-3 mt-3 bottom-bord">
    </div>
    <!--phase statistics-->
    <div class='row'>
        <div class="container-fluid text-center p-2">
            <!-- Button trigger modal for phases-->
            <button type="submit" class="btn btn-secondary btn-sm rounded" id="phase_skteches" data-toggle="modal" data-target="#exampleModal">Phase Diagrams</button>
        </div>
        <div class="container text-center">
            <p class="header-secondary">shot breakdown (% of overall video spent in each phase)</p>
        </div>
        <div class="col-md-6">
            <legend class='border-bottom h6 header-third'>{{name}}</legend>
            <canvas id="myChart7" max-width="300" max-height="300"></canvas>
        </div>
        <div class="col-md-6">
            <legend class='border-bottom h6 header-third'>{{current_user.first}}</legend>
            <canvas id="myChart8" max-width="300" max-height="300"></canvas>
        </div>
    </div>
</div>

<div class="container home shadow rounded p-3 mt-4 mb-4 footer-color" data-aos="fade-up" id='content'>
    <div class="container-fluid">
        <div class="container-fluid text-center">
            <legend class='h1 header-main bottom-bord'>Recommendations</legend>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class='container mt-3'> 
                <div>
                    <h5 class="header-third">Knee:</h5>
                    <ul>
                        {% for tip in leg_tips %}
                        {% if '!' in tip  %}
                        <li class='mt-2 header-secondary'><i style="color: green;" class="fas fa-check-circle"></i> {{tip}}</li>
                        {% elif '!' not in tip  %}
                        <li class='mt-2 header-secondary'><i style="color: red;" class="fas fa-times-circle"></i> {{tip}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h5 class="header-third">Elbow:</h5>
                    <ul>
                        {% for tip in arm_tips %}
                        {% if '!' in tip  %}
                        <li class='mt-2 header-secondary'><i style="color: green;" class="fas fa-check-circle"></i> {{tip}}</li>
                        {% elif '!' not in tip  %}
                        <li class='mt-2 header-secondary'><i style="color: red;" class="fas fa-times-circle"></i> {{tip}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h5 class="header-third">Shoulder:</h5>
                    <ul>
                        {% for tip in body_tips %}
                        {% if '!' in tip  %}
                        <li class='mt-2 header-secondary'><i class="fas fa-check-circle" style="color: green;"></i> {{tip}}</li>
                        {% elif '!' not in tip  %}
                        <li class='mt-2 header-secondary'><i style="color: red;" class="fas fa-times-circle"></i> {{tip}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                </div> 
        </div>
   
</div>

<div class="row">
    <div class='container text-center'>
        <p class="header-secondary"><i class="fas fa-check-circle" style="color: green;"></i> = Looks good</p>
        <p class="header-secondary"><i class="fas fa-times-circle" style="color: red;"></i> = Needs improvement</p>
    </div>
</div>

</div>

<!-- footer -->
<div class="container-fluid p-4 footer-color">
    <footer class="container text-center mb-2">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p>&copy; 2020-2021 Tennis Sense - UCL - Avanade &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
        <div class="col-md-3">
          <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/avanade.svg" alt="..." 
            style="height:50px; width:45%"/></a>
      </div>
      <div class="col-md-3">
          <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/UCL.svg" alt="..."  
            style="height:50px; width:55%"/></a>
      </div>
    </div>
    </footer>
  </div>

<!-- Modal for angle -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bottom-bord modal-back">
          <h5 class="modal-title" id="exampleModalLabel">Angle Breakdown</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class=container>
            <p><span style="color: red;">Red</span><span> = Elbow (angle from the wrist to the elbow to the shoulder)</span></p>
            <p><span style="color: blue;">Blue</span><span> = Knee (angle from the hip to the knee to the ankle)</span></p>
            <p><span style="color: green;">Green</span><span> = Shoulder (angle from the elbow to the shoulder to the hip)</span></p>
        </div>
        <div class='container mt-4 whole-bord'>
            <img src="../static/assets/img/angles/angles.jpg" class="img-fluid" alt="Responsive image" id='start_phase'>
        </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal for phases -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bottom-bord modal-back">
          <h5 class="modal-title" id="exampleModalLabel">Phase Breakdown</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class='container mt-4 whole-bord' data-aos="fade-right">
            <label class='mt-2'>1. Starting Position</label>
            <img src="../static/assets/img/phases/start.jpg" class="img-fluid" alt="Responsive image" id='start_phase'>
            <p>the starting position phase is defined in this analytics tool as the time between when the player initially 
                finishes bouncing the ball and when the player starts the upwards motion of the toss</p>
        </div>
        <div class='container mt-4 whole-bord' data-aos="fade-left">
            <label class='mt-2'>2. Takeback and Load</label>
            <img src="../static/assets/img/phases/load.jpg" class="img-fluid" alt="Responsive image">
            <p>the takeback and load phase is defined in this analytics tool as the time between when the player has started taking the 
                racquet back and when the player is at the bottom of their loading position.  </p>
        </div>
        <div class='container mt-4 whole-bord' data-aos="fade-right">
            <label class='mt-2'>3. Extending</label>
            <img src="../static/assets/img/phases/extend.jpg" class="img-fluid" alt="Responsive image">
            <p>the extend phase is defined in this analytics tool as the time between when the player has started moving updwards towards the ball 
                and when the player has started to follow through after making contact.  </p>
        </div>
        <div class='container mt-4 whole-bord' data-aos="fade-left">
            <label class='mt-2'>4. Finish</label>
            <img src="../static/assets/img/phases/finish.jpg" class="img-fluid" alt="Responsive image">
            <p>the finish phase is defined in this analytics tool as the time between when the player has finished following through  
                and when the player has absorbed the force on the landing leg. </p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for scoring -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bottom-bord modal-back">
          <h5 class="modal-title" id="exampleModalLabel">How you are scored:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class="container whole-bord">
        <h1>Knee:</h1>
        <ul>
            <li>How similar your leg positions are during the starting phase.  Contrasting angles can cause imblanaces</li>
            <li>Determining if legs are bent optimally on the loading phase to increase balance and power</li>
            <li>Ensuring the legs are perfectly extended during the extension phase to optimize power</li>
            <li>Verifying optimal leg positions during the finish to increase balance and recovery</li>
        </ul>
        </div>
        <div class="container whole-bord">
            <h1>Elbow:</h1>
            <ul>
                <li>Checking arm positining during starting phase to ensure consistency and balance</li>
                <li>How well the arms are aligned (mirroing eachother) on the starting position</li>
                <li>Making sure that the arm is optimally angled during the loading phase (specifically the toss)</li>
                <li>Determining if arm is reaching enough during loading phase to optimize the elasticity of the tossing side of the body.</li>
                <li>Ensuring dominant arm is extending enough during contact to optimize power</li>
                <li>Establishing that the arms are in the correct position during the finish to increase racquet takeback in the recovery.</li>
            </ul>
            </div>
            <div class="container whole-bord">
                <h1>Shoulder:</h1>
                <ul>
                    <li>Checking that the upper arms are not too high or too low from the ground during the starting phase</li>
                    <li>Like the elbow in the loading phase, ensureing that the tossing side of the body is reaching optimally during the toss </li>
                    <li>Making sure that the dominant elbow is in the correct position during the loading phase</li>
                </ul>
                </div>
        </div>
      </div>
    </div>
  </div>

  
<script>

// Plotting graphs Professional legs
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
                
        labels: {{label|tojson}},
        datasets: [
        {
            label: 'zero',
            data: {{zero_line|tojson}},
            borderColor: [
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 1, 
            fill: true,
        },
        {
            
            label: 'Right knee',
            data: {{data|tojson}},
            backgroundColor: [
                'rgba(2, 29, 235, 0.2)',
            ],
            borderColor: [
                'rgba(2, 29, 235, 1)',
            ],
            borderWidth: 1, 
            fill: false,
        }, {
            label: 'Left knee',
            data: {{datatwo|tojson}},
            backgroundColor: [
                'rgba(235, 2, 6, 0.2)',
            ],
            borderColor: [
                'rgba(235, 2, 6, 1)',
            ],
            borderWidth: 1, 
            fill: false,
        },
        {
            label: 'start',
            data: {{vertical_start|tojson}},
            backgroundColor: [
                'rgba(255, 99, 132, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'load',
            data: {{vertical_load|tojson}},
            backgroundColor: [
                'rgba(54, 162, 235, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'extend',
            data: {{vertical_extend|tojson}},
            backgroundColor: [
                'rgba(255, 206, 86, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'finish',
            data: {{vertical_finish|tojson}},
            backgroundColor: [
                'rgba(75, 192, 192, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        }
        ]
    },
    options: {
        responsive:true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

// Plotting graphs Professional arms
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
                
        labels: {{label_arm|tojson}},
        datasets: [
        {
            label: 'zero',
            data: {{zero_line|tojson}},
            borderColor: [
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 1, 
            fill: true,
        },
        {
            label: 'Right elbow',
            data: {{data_r_arm|tojson}},
            backgroundColor: [
                'rgba(255, 99, 0, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 0, 1)',
            ],
            borderWidth: 1, 
            fill: false,
        }, {
            label: 'Left elbow',
            data: {{data_l_arm|tojson}},
            backgroundColor: [
                'rgba(0, 200, 0, 0.2)',
            ],
            borderColor: [
                'rgba(0, 200, 0, 1)',
            ],
            borderWidth: 1, 
            fill: false,
        }, 
        {
            label: 'start',
            data: {{vertical_start|tojson}},
            backgroundColor: [
                'rgba(255, 99, 132, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'load',
            data: {{vertical_load|tojson}},
            backgroundColor: [
                'rgba(54, 162, 235, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'extend',
            data: {{vertical_extend|tojson}},
            backgroundColor: [
                'rgba(255, 206, 86, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'finish',
            data: {{vertical_finish|tojson}},
            backgroundColor: [
                'rgba(75, 192, 192, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        }
        ]
    },
    options: {
        responsive:true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }

    }
});
</script>

<script>
// Plotting graphs Professional body
var ctx = document.getElementById('myChart3').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
                
        labels: {{label_body|tojson}},
        datasets: [
        {
            label: 'zero',
            data: {{zero_line|tojson}},
            borderColor: [
                'rgba(255, 255, 255, 1)',
            ],
            borderWidth: 1, 
            fill: true,
        },
        {
            label: 'Right shoulder',
            data: {{dataright_body|tojson}},
            backgroundColor: [
                'rgba(44, 3, 166, .2)',
            ],
            borderColor: [
                'rgba(44, 3, 166, 1)',
            ],
            borderWidth: 1, 
            fill: false,
        }, {
            label: 'Left shoulder',
            data: {{dataleft_body|tojson}},
            backgroundColor: [
                'rgba(163, 2, 34, .2)',
            ],
            borderColor: [
                'rgba(163, 2, 34, 1)',
            ],
            borderWidth: 1, 
            fill: false,
        }, 
        {
            label: 'start',
            data: {{vertical_start|tojson}},
            backgroundColor: [
                'rgba(255, 99, 132, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'load',
            data: {{vertical_load|tojson}},
            backgroundColor: [
                'rgba(54, 162, 235, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'extend',
            data: {{vertical_extend|tojson}},
            backgroundColor: [
                'rgba(255, 206, 86, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        },
        {
            label: 'finish',
            data: {{vertical_finish|tojson}},
            backgroundColor: [
                'rgba(75, 192, 192, .2)',
            ],
            borderColor: [
                'rgba(0, 0, 0, 0)',
            ],
            borderWidth: 0, 
            fill: true,
        }
        ]
    },
    options: {
        responsive:true,
        maintainAspectRatio: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

<script>

    // Plotting graphs Professional legs
    var ctx = document.getElementById('myChart4').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
                    
            labels: {{user_label|tojson}},
            datasets: [
            {
                label: 'zero',
                data: {{zero_line_user|tojson}},
                borderColor: [
                    'rgba(255, 255, 255, 1)',
                ],
                borderWidth: 1, 
                fill: true,
            },
            {
                
                label: 'Right knee',
                data: {{user_right|tojson}},
                backgroundColor: [
                    'rgba(2, 29, 235, 0.2)',
                ],
                borderColor: [
                    'rgba(2, 29, 235, 1)',
                ],
                borderWidth: 1, 
                fill: false,
            }, {
                label: 'Left knee',
                data: {{user_left|tojson}},
                backgroundColor: [
                    'rgba(235, 2, 6, 0.2)',
                ],
                borderColor: [
                    'rgba(235, 2, 6, 1)',
                ],
                borderWidth: 1, 
                fill: false,
            },
            {
                label: 'start',
                data: {{vertical_start_user|tojson}},
                backgroundColor: [
                    'rgba(255, 99, 132, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'load',
                data: {{vertical_load_user|tojson}},
                backgroundColor: [
                    'rgba(54, 162, 235, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'extend',
                data: {{vertical_extend_user|tojson}},
                backgroundColor: [
                    'rgba(255, 206, 86, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'finish',
                data: {{vertical_finish_user|tojson}},
                backgroundColor: [
                    'rgba(75, 192, 192, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            }
            ]
        },
        options: {
            responsive:true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    
    // Plotting graphs Professional arms
    var ctx = document.getElementById('myChart5').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
                    
            labels: {{user_label|tojson}},
            datasets: [
            {
                label: 'zero',
                data: {{zero_line_user|tojson}},
                borderColor: [
                    'rgba(255, 255, 255, 1)',
                ],
                borderWidth: 1, 
                fill: true,
            },
            {
                label: 'Right elbow',
                data: {{user_right_arm|tojson}},
                backgroundColor: [
                    'rgba(255, 99, 0, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 0, 1)',
                ],
                borderWidth: 1, 
                fill: false,
            }, {
                label: 'Left elbow',
                data: {{user_left_arm|tojson}},
                backgroundColor: [
                    'rgba(0, 200, 0, 0.2)',
                ],
                borderColor: [
                    'rgba(0, 200, 0, 1)',
                ],
                borderWidth: 1, 
                fill: false,
            }, 
            {
                label: 'start',
                data: {{vertical_start_user|tojson}},
                backgroundColor: [
                    'rgba(255, 99, 132, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'load',
                data: {{vertical_load_user|tojson}},
                backgroundColor: [
                    'rgba(54, 162, 235, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'extend',
                data: {{vertical_extend_user|tojson}},
                backgroundColor: [
                    'rgba(255, 206, 86, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'finish',
                data: {{vertical_finish_user|tojson}},
                backgroundColor: [
                    'rgba(75, 192, 192, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            }
            ]
        },
        options: {
            responsive:true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
    
        }
    });
    </script>
    
    <script>
    // Plotting graphs Professional body
    var ctx = document.getElementById('myChart6').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
                    
            labels: {{user_label|tojson}},
            datasets: [
            {
                label: 'zero',
                data: {{zero_line_user|tojson}},
                borderColor: [
                    'rgba(255, 255, 255, 1)',
                ],
                borderWidth: 1, 
                fill: true,
            },
            {
                label: 'Right shoulder',
                data: {{User_data_r_body|tojson}},
                backgroundColor: [
                    'rgba(44, 3, 166, .2)',
                ],
                borderColor: [
                    'rgba(44, 3, 166, 1)',
                ],
                borderWidth: 1, 
                fill: false,
            }, {
                label: 'Left shoulder',
                data: {{User_data_l_body|tojson}},
                backgroundColor: [
                    'rgba(163, 2, 34, .2)',
                ],
                borderColor: [
                    'rgba(163, 2, 34, 1)',
                ],
                borderWidth: 1, 
                fill: false,
            }, 
            {
                label: 'start',
                data: {{vertical_start_user|tojson}},
                backgroundColor: [
                    'rgba(255, 99, 132, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'load',
                data: {{vertical_load_user|tojson}},
                backgroundColor: [
                    'rgba(54, 162, 235, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'extend',
                data: {{vertical_extend_user|tojson}},
                backgroundColor: [
                    'rgba(255, 206, 86, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            },
            {
                label: 'finish',
                data: {{vertical_finish_user|tojson}},
                backgroundColor: [
                    'rgba(75, 192, 192, .2)',
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0)',
                ],
                borderWidth: 0, 
                fill: true,
            }
            ]
        },
        options: {
            responsive:true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>

<script>
// PLOTTING GRAPH pro doughnut
    var ctx = document.getElementById('myChart7').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Start', 'Takeback and Load', 'Extend', 'Finish'],
        datasets: [{
            label: 'Left leg angle during extension',
            data: {{doughnut_data|tojson}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        maintainAspectRatio: false,

        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<script>
// PLOTTING GRAPH user doughnut
var ctx = document.getElementById('myChart8').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Start', 'Takeback and Load', 'Extend', 'Finish'],
        datasets: [{
            label: 'Left leg angle during extension',
            data: {{user_doughnut|tojson}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        maintainAspectRatio: false,

        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

<script type="text/javascript">
    window.onbeforeunload = function () {
     return 'Though your score will be saved, leaving this page will delete your results';
    }
   </script>



{% endblock %}


