{% extends 'layout.html' %}

{% block body %}
<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#" style="margin-left: 2%;">Tennis Sense</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('point')}}">Link 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('stroke')}}">Link 4</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="container">
            <a class="btn btn-outline-secondary btn-sm text-uppercase" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt fa-lg"></i>Logout</a>
            </div>
        </li>
    </ul>
    
    </div>
  </nav>
  <!-- end of navbar -->

  <div class="container-fluid">
    <br>
    <div class="container-fluid text-center">
      <div class="containter">
        <legend class='border-bottom h1'>Point Analysis</legend>
      </div>
      </div>
</div>
  <div class="container home shadow rounded p-4 mt-4 text-center">
    <div class="containter mb-4">
      <h5>Please upload a point to view results for AI powered analysis</h5>
   </div>
        <form class="container col-md-8 text-center">
            <div class="form-group">
                <label for="date">Date of Point</label>
                <input class="form-control" type="date" id="date" name="date">
            </div>
            <br>
            <div class="form-group">
              <label for="exampleFormControlInput1">Upload Title</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="E.g., Calabasis Open">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="E.g., Match Point #4"></textarea>
              </div>
              <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Practice</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Match</label>
              </div>
              <div class="form-group">
                <br>
                <input class="form-control" type="file" accept=".mp4, .mov" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <br>
              <button type="submit" class="btn btn-primary">View Results</button>

        </form>
  </div>

{% endblock %}
