{% extends 'layout.html' %}

{% block body %}

{% for mess in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
</div>
{% endfor %}

<div class="container col-md-6 home shadow rounded p-4 mt-4">
    <div class="container text-center">
        <legend class='border-bottom mb-4 h1'>Register</legend>
    </div>
    <form method="POST" action='{{url_for("register")}}'>
      {{form.hidden_tag()}}

        <div class="form-group text-center mt-3">
          <div>
            {{form.first.label}}
          </div>
          <div>
            {{form.first(class="form-control")}}
          </div>
        </div>
        <br>
        <div class="form-group text-center mb-4">
          <div>
            {{form.last.label}}
          </div>
          <div>
            {{form.last(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-center mb-4">
          <div>
            {{form.email.label}}
          </div>
          <div>
            {{form.email(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-center mb-4">
          <div>
            {{form.password.label}}
          </div>
          <div>
            {{form.password(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-center mb-4">
          <div>
            {{form.passconfirm.label}}
          </div>
          <div>
            {{form.passconfirm(class="form-control")}}
          </div>
        </div>
        <br>
        <div class="container d-flex justify-content-center">
            {{form.submit(class="btn btn-primary btn-l")}}
        </div>
      </form>
      <br>
      <div class='container text-center'>
        <small class='text-muted'>
           Already Have An Account?<a href="{{url_for('login')}}"> Click here to login</a>
        </small>
     </div>
    </div> 
    




{% endblock %}


