{% extends 'layout.html' %}

{% block body %}

<div class="container col-md-6 home shadow rounded p-4 mt-4">
    <div class="container text-center">
        <h1>Register</h1>
    </div>
    <form method="POST" action='{{url_for("login")}}'>
      {{form.hidden_tag()}}

        <div class="form-group text-center mt-3">
          <div>
            {{form.first.label}}
          </div>
          <div>
            {{form.first(class="form-control")}}
          </div>
        </div>
        <br>
        <div class="form-group text-center mb-4">
          <div>
            {{form.last.label}}
          </div>
          <div>
            {{form.last(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-center mb-4">
          <div>
            {{form.email.label}}
          </div>
          <div>
            {{form.email(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-center mb-4">
          <div>
            {{form.password.label}}
          </div>
          <div>
            {{form.password(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-center mb-4">
          <div>
            {{form.passconfirm.label}}
          </div>
          <div>
            {{form.passconfirm(class="form-control")}}
          </div>
        </div>
        <br>
        <div class="container d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-l">Login</button>
        </div>
      </form>
    </div> 




{% endblock %}


