

/* Home Screen */
.home {
    border: solid 1px lightgrey; 
}

/* Landing page Login Modal */
.login-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .login-modal .close-modal:hover {
    opacity: 0.3;
  }

  #loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #1d41f4; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /*  footer */
.footer-color {
  background-color: rgb(255, 255, 255);
}

.reverse-margin {
  margin-bottom: -10% ;
}


/* Navbar */
.nav-link:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border-bottom: 1px black solid;
  transition: transform .2s ease-in-out;
}
.nav-color {
  color: #EC8107 !important;
}

.nav-color-active {
  color: #E94F01 !important;
}
/* font colors */
.header-main {
  color: #1d41f4
}

/* button */
.button-main {
  background: rgb(247,163,75);
background: linear-gradient(90deg, rgba(247,163,75,1) 0%, rgba(3,91,245,1) 100%);
  border: rgb(247,163,75) !important;
  color: white !important;
}

.button-main:hover{
  background: rgb(204,105,2);
background: linear-gradient(90deg, rgba(204,105,2,1) 0%, rgba(2,62,167,1) 100%);
  border: rgb(204,105,2) !important;
}

.button-radius {
  border-radius: 20px !important;
}


/* border */
.bottom-bord {
  border-bottom: #EC8107 2px solid !important;
}

.whole-bord {
  border: #EC8107 1px solid !important;
}

