/* Home Screen */
.home {
    border: solid 1px lightgrey; 
}

/* Landing page Login Modal */
.login-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .login-modal .close-modal:hover {
    opacity: 0.3;
  }
