{% extends 'layout.html' %}

{% block body %}
<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="margin-left: 2%;">Tennis Sense</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <div class="container">
          <a class="btn btn-secondary btn-sm text-uppercase" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt fa-lg"></i>Logout</a>
          </div>
      </li>
  </ul>
  </div>
</nav>
  <!-- end of nav-->
<div class="container">

<div class="container-fluid mt-4">
<div style='min-height:200px !important;background-color:white;' class='container-fluid home shadow rounded p-2 mb-3 text-center' data-aos="fade-up">
  <div class="container-fluid mt-4 mb-4" >
    <div class="container text-center">
        <legend class='border-bottom h1'>Welcome {{current_user.first}}</legend>
    </div>
</div>

  {% if recent == 'none' %}
    <h3 class="text-center mt-5">You have not tried the stroke analysis tool yet.<br>  See below to test it out!</h3>
  
  {% else %}
  
  <div class="container text-center">
    <h3>Average Score: <strong>{{average}}</strong></h3>
  </div>
  <br>
  <br>

  <div class="container text-center">
    <h3>Most Recent:</h3>
    
    <div class="container">
    <div class="row">
      <div class="col-md-3">
      
      </div>
      <div class="col-md-2">
        <p>Date: <br><strong>{{recent}}</strong></p>
  
      </div>
      <div class="col-md-2">
        <p>Professional: <br><strong>{{name}}</strong></p>
  
      </div>
      <div class="col-md-2">
        <p>Score: <br><strong>{{score}} {% if '-' in difference %}
          <i style='color:red' class="fa fa-arrow-circle-down" aria-hidden="true"></i> 
          {% elif '+' in difference %}
            <i style='color:green' class="fa fa-arrow-circle-up" aria-hidden="true"></i>
        {% endif %}
         </strong></p>

      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>

  </div>
  {% endif %}

</div>
<div class="container-fluid">
    <div class="row rounded home shadow" style="background-color:white;" data-aos="fade-up">
        <div class="col-md-12 pt-3 text-center">
            <a class="btn btn-primary btn-xl text-uppercase" href="{{ url_for('stroke') }}">Stroke Analysis</a>
        </div>
        <div class="col-md-4 text-center p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea similique veniam veritatis est beatae dignissimos, non alias ipsum aperiam? Consectetur, consequatur. 
            Perferendis veritatis, itaque molestias asperiores soluta ratione ducimus quos?</p>
          <div class='container border'>
            <img src="../static/assets/img/angles/angles.jpg" class="img-fluid" alt="Responsive image" id='start_phase' style="height: 400px; width:100%">
        </div>
        </div>
        <div class="col-md-4 text-center p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea similique veniam veritatis est beatae dignissimos, non alias ipsum aperiam? Consectetur, consequatur. 
            Perferendis veritatis, itaque molestias asperiores soluta ratione ducimus quos?</p>
          <div class='container border'>
              <img src="../static/assets/img/phases/load.jpg" class="img-fluid" alt="Responsive image" style="height: 400px; width:100%">
        </div>
        </div>
        <div class="col-md-4 text-center p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea similique veniam veritatis est beatae dignissimos, non alias ipsum aperiam? Consectetur, consequatur. 
            Perferendis veritatis, itaque molestias asperiores soluta ratione ducimus quos?</p>
          <div class='container border'>
              <img src="../static/assets/img/angles/angles.jpg" class="img-fluid" alt="Responsive image" id='start_phase' style="height: 400px; width:100%">
        </div>
        </div>
        <br>
    </div>

</div>
</div>
</div> 

<br>

<div class="container-fluid p-4 footer-color">
  <footer class="container text-center mb-2">
    <div class="row align-items-center">
      <div class="col-md-6">
        <p>&copy; 2020-2021 Tennis Sense - UCL - Avanade &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
      <div class="col-md-3">
        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/avanade.svg" alt="..." 
          style="height:50px; width:45%"/></a>
    </div>
    <div class="col-md-3">
        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/UCL.svg" alt="..."  
          style="height:50px; width:55%"/></a>
    </div>
  </div>
  </footer>
</div>



{% endblock %}
