{% extends 'layout.html' %}

{% block body %}
<!-- flash messages -->
<div style="position:fixed; left:25%; top:2%;z-index:9999;" class="container w-50 text-center">{% with messages = get_flashed_messages(with_categories=true)%}
  {% if messages %}
      {% for category, msg in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{msg}}
      </div>
      {% endfor %}
  {% endif %}
{% endwith%}</div>
<div class="container col-md-6 home shadow rounded p-4 mt-4" data-aos="fade-up" style="background-color:white;">
    <div class="container text-center">
        <legend class='mb-4 h1 header-main bottom-bord'>Register</legend>
    </div>
    <form method="POST" action='{{url_for("register")}}'>
      {{form.hidden_tag()}}

        <div class="form-group text-left mt-3 header-third">
          <div>
            {{form.first.label}}
          </div>
          <div>
            {{form.first(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-left mb-3 header-third">
          <div>
            {{form.last.label}}
          </div>
          <div>
            {{form.last(class="form-control")}}
          </div>
        </div>
        <div class="text-left mb-3 header-third">
          <div>
            {{form.dominant.label}}
          </div>
          <div>
            {{form.dominant()}}
          </div>
        </div>
        <div class="form-group text-left mb-3 header-third">
          <div>
            {{form.email.label}}
          </div>
          <div>
            {{form.email(class="form-control")}}
          </div>
          {% for err in form.email.errors %}
        <p style="color: red;">{{err}}</p>
        {% endfor %}
        </div>
        <div class="form-group text-left mb-3 header-third">
          <div>
            {{form.password.label}}
          </div>
          <div>
            {{form.password(class="form-control")}}
          </div>
        </div>
        <div class="form-group text-left mb-3 header-third">
          <div>
            {{form.passconfirm.label}}
          </div>
          <div>
            {{form.passconfirm(class="form-control")}}
          </div>
          {% for err in form.passconfirm.errors %}
        <p style="color: red;">{{err}}</p>
        {% endfor %}
        </div>
        <div class="container d-flex justify-content-center">
            {{form.submit(class="btn btn-primary btn-xl rounded button-main")}}
        </div>
      </form>
      <br>
      <div class='container text-center'>
        <small class='text-muted'>
           Already Have An Account?<a href="{{url_for('login')}}"> Click here to login</a>
        </small>
     </div>
    </div> 

    <div class="py-5">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-6 col-sm-6 my-3">
                  <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/avanade.svg" alt="..." /></a>
              </div>
              <div class="col-md-6 col-sm-6 my-3">
                  <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/static/assets/img/logos/UCL.svg" alt="..." /></a>
              </div>
          </div>
      </div>
  </div>

<!-- Footer -->
<div class="container-fluid p-5 footer-color">
  <footer class="container text-center">
    <p>&copy; 2020-2021 Tennis Sense - UCL - Avanade &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>





{% endblock %}


